<ul>
    <li ng-class="{'highlight':(activeMenu=='dashboard')}">
        <a ui-sref="home">
            <div class="fs1" aria-hidden="true" data-icon="&#xe007;"></div>
            <span>Dashboard</span>
        </a>
    </li>
    <li ng-class="{'highlight':(activeMenu=='owner')}">
        <a ui-sref="owner">
            <div class="fs1" aria-hidden="true" data-icon="&#xe0f8;"></div>
            <span>Owner Information</span>
        </a>
    </li>
    <li ng-class="{'highlight':(activeMenu=='company')}">
        <a ui-sref="company">
            <div class="fs1" aria-hidden="true" data-icon="&#xe0f8;"></div>
            <span>Company Information</span>
        </a>
    </li>
    <li ng-class="{'highlight':(activeMenu=='client')}">
        <a ui-sref="client">
            <div class="fs1" aria-hidden="true" data-icon="&#xe0f8;"></div>
            <span>Client Information</span>
        </a>
    </li>
    <li ng-class="{'highlight':(activeMenu=='vendor')}">
        <a ui-sref="vendor">
            <div class="fs1" aria-hidden="true" data-icon="&#xe0f8;"></div>
            <span>Vendor Information</span>
        </a>
    </li>
    <li>
        <a href='#'>
            <div class="fs1" aria-hidden="true" data-icon="&#xe0f8;"></div>
            <span>Accounting</span>
        </a>
    </li>
    <li>
        <a href='#'>
            <div class="fs1" aria-hidden="true" data-icon="&#xe0f8;"></div>
            <span>Asset Management</span>
        </a>
    </li>
    <li class='has-sub'>
        <a href='#'>
            <div class="fs1" aria-hidden="true" data-icon="&#xe052;"></div>
            <span>Vehicle Management</span>
        </a>
        <ul>
            <li>
                <a href='#'>
                    <span>Vehicle Information</span>
                </a>
            </li>
            <li>
                <a href='#'>
                    <span>Vehicle Maintenance</span>
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href='#'>
            <div class="fs1" aria-hidden="true" data-icon="&#xe0e6;"></div>
            <span>Reports</span>
        </a>
    </li>
    <li class='has-sub'>
        <a href='#'>
            <div class="fs1" aria-hidden="true" data-icon="&#xe0ab;"></div>
            <span>More..</span>
        </a>
        <ul>
            <li>
                <a href='#'>
                    <span>Personnel Management</span>
                </a>
            </li>
            <li>
                <a href='#'>
                    <span>Route Logs</span>
                </a>
            </li>
        </ul>
    </li>
</ul>
<!-- Custom JS -->
<script src="js/custom.js"></script>