<div class="widget">
    <div class="widget-header bordered-bottom bordered-blue">
        <a ui-sref="{{activeMenu}}"><i class="fa fa-chevron-left fa-2x pull-left"  ng-if="isEdit"></i></a>        
        <span class="widget-caption">{{ isEdit | titleCase }} {{ activeMenu | titleCase }} Details</span>
        <button ui-sref="{{activeMenu}}Detail({ isEdit: 'add' })" class="btn btn-xs btn-primary pull-right" ng-if="!isEdit">
          <span class="fa fa-plus" aria-hidden="true"></span> Add
        </button>
    </div>
    <div class="widget-body">
    	<div ng-if="!isEdit">
	    	<div class="row">
	            <div class="custom-search table-search">
	                <input type="text" class="search-query" placeholder="Search here" ng-model="search.$">
	                <i class="fa fa-search"></i>
	            </div>
	        </div>
	        <div class="table-responsive" ng-transclude></div>
        </div>
        <div class="row" ng-if="isEdit">
             <form class="form-horizontal" role="form" name="form">
                    <div ng-transclude></div>
                    <div class="col-md-12 col-sm-12 col-xs-12 form-button">
                    <div class="form-group" align="center">
                        <button type="submit" class="btn btn-primary" ng-click="updateDetails();" ng-disabled="form.$invalid">{{ isEdit | uppercase }}</button>
                        <button type="button" class="btn btn-default" ng-click="reset();" ng-if="isEdit === 'add'">Reset</button>
                        <button type="button" class="btn btn-default" ui-sref="{{activeMenu}}" ng-if="isEdit === 'update'">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>