<ft-panel>                                  
    <table class="table table-striped table-bordered table-hover no-margin">
        <thead>
            <tr>
                <th>#ID</th>
                <th class="hidden-phone">Vehicle No</th>
                <th class="hidden-phone">Ownership</th>
                <th class="hidden-phone">Owner</th>
                <th class="hidden-phone">Odometer</th>
                <th class="hidden-phone">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr class="danger" ng-if="vehicleList.length === 0">
                <td colspan="6">No Records found</td>
            </tr>
            <tr ng-repeat="vehicleInfo in vehicleList | filter:search">
                <td>{{::($index+1)}}</td>
                <td>{{::vehicleInfo.vehicleNo}}</td>
                <td>{{::vehicleInfo.ownership}}</td>
                <td>{{::vehicleInfo.owner}}</td>
                <td>{{::vehicleInfo.odometer}}</td>
                <td style="max-width:80px">
                    <a ui-sref="vehicleDetail({ isEdit: 'update', editId: vehicleInfo.id })" class="btn btn-xs btn-info" data-original-title="">
                        <i class="fa fa-edit"></i> Edit
                    </a>
                    <a class="btn btn-xs btn-danger" ng-click="confirmDelete(vehicleInfo.id);">
                        <i class="fa fa-trash-o"></i> Delete
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</ft-panel> 