<div class="row">
    <ul class="breadcrumb">
        <li><a ui-sref="home">Home</a></li>
        <li><a ui-sref="company">Company</a></li>
        <li class="active">{{ isEdit | titleCase }} Company</li>
    </ul>

    <div class="col-lg-7">        
        <div class="panel panel-primary">
            <div class="panel-heading">
                {{ isEdit | titleCase }} Company Details
            </div>
            <div class="panel-body">
                <form class="form-horizontal" role="form" name="vehicleForm">
                    
                    <div class="form-group" ng-class="{ 'has-error' : vehicleForm.vehicleNumber.$invalid && !vehicleForm.vehicleNumber.$pristine }">
                        <label class="col-sm-3 control-label">Company Name</label>
                        <div class="col-sm-9">                              
                            <input type="text" class="form-control" name="vehicleNumber" placeholder="Vehicle Registration Number" ng-model="model.vehicleNumber" required>
                            <p ng-show="vehicleForm.vehicleNumber.$invalid && !vehicleForm.vehicleNumber.$pristine" class="help-block">Vehicle Registration Number is required.</p>
                        </div>
                    </div>                    
                    <div class="form-group" ng-class="{ 'has-error' : vehicleForm.amtPurch ased.$invalid && !vehicleForm.amtPurchased.$pristine }">
                        <label class="col-sm-3 control-label">Purchase Amount</label>
                        <div class="col-sm-9">                              
                            <input type="text" class="form-control" name="amtPurchased" placeholder="Full Restered Address of the Company" ng-model="model.amtPurchased" required>
                            <p ng-show="vehicleForm.amtPurchased.$invalid && !vehicleForm.amtPurchased.$pristine" class="help-block">Vehicle Purchased for Amount.</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label"><span ng-if="model.fuelType === 'P'">Petrol</span><span ng-if="model.fuelType === 'D'">Disel</span><span ng-if="model.fuelType === 'G'">Gas</span></label>
                        <div class="col-sm-9">
                            <div auto-complete url="/search" model="data.tags" ng-if="model.fuelType === 'P'"></div>
                            <select class="form-control">
                                <option>Petrol</option>
                                <option>Disel</option>
                                <option>Gas</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : vehicleForm.email.$invalid && !vehicleForm.email.$pristine }">
                        <label class="col-sm-3 control-label">Email Id</label>
                        <div class="col-sm-9">
                          <input type="email " placeholder="Enter Company email" class="form-control" name="email" ng-model="model.email">
                          <p ng-show="vehicleForm.email.$invalid && !vehicleForm.email.$pristine" class="help-block">Enter valid email id</p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : vehicleForm.phone.$invalid && !vehicleForm.phone.$pristine }">
                        <label class="col-sm-3 control-label">Phone Number</label>
                        <div class="col-sm-9">
                          <input type="number" name="phone" placeholder="Enter Company Phone Number" class="form-control" ng-model="model.phone" ng-minlength="10" ng-maxlength="10">
                          <p ng-show="vehicleForm.phone.$invalid && !vehicleForm.phone.$pristine" class="help-block">Enter valid Phonenumber</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">SSI NO</label>
                        <div class="col-sm-9">
                          <input type="text" name="ssiNo" placeholder="Enter SSI Certificate No" class="form-control" ng-model="model.ssiNo">
                          <p ng-show="vehicleForm.ssi.$invalid && !vehicleForm.ssi.$pristine" class="help-block">Enter valid SSI NO</p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : vehicleForm.panNumber.$invalid && !vehicleForm.panNumber.$pristine }">
                        <label class="col-sm-3 control-label">PAN NO</label>
                        <div class="col-sm-9">
                          <input type="text" name="panNo" placeholder="Enter Company PAN Number" class="form-control" ng-model="model.panNumber" ng-minlength="10" ng-maxlength="10">
                          <p ng-show="vehicleForm.panNo.$invalid && !vehicleForm.panNo.$pristine" class="help-block">Enter valid PAN Number</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">TAN NO</label>
                        <div class="col-sm-9">
                          <input type="text" name="tanNo" placeholder="Enter Company TAN Number" class="form-control" ng-model="model.tanNumber">
                          <p ng-show="vehicleForm.tanNo.$invalid && !vehicleForm.tanNo.$pristine" class="help-block">Enter valid TAN Number</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-3">
                            <button type="submit" class="btn btn-primary" ng-click="updateDetails();" ng-disabled="vehicleForm.$invalid">{{ isEdit | uppercase }}</button>
                            <button type="button" class="btn btn-link" ng-click="reset();" ng-if="isEdit === 'add'">Reset</button>
                            <button type="button" class="btn btn-link" ui-sref="company" ng-if="isEdit === 'update'">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /.row (nested) -->
